*
{
    margin: 0;
}
img
{
    max-width: 100%;
}
.backgroundp
{
    width: 100px;
    padding: 20px;
    height: 20px;
    background-color: black;
    color: white;
    font-size: 22px;
    text-align: center;
}
.p
{
    font-size: 22px;
}
.div1
{
    display: flex;
    gap: 50px;
    align-items: center;
}
header
{
    display: flex;
    justify-content: center;
    gap: 550px;
    margin-top: 30px;
}
.input
{
    padding: 10px;
}
.button
{
    padding: 10px;
    background-color: black;
    color: white;
    width: 130px;
}
.bigp
{
    font-size: 60px;
    width: 600px;
}
.bigp4
{
    font-size: 60px;
    width: 640px;
    text-align: end;
}
.div2
{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
.section1
{
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: end;
    margin-top: 50px;
}
.img
{
    display: none;
}
.pwidth
{
    width: 400px;
    margin-top: 20px;
}
.pwidth1
{
    width: 350px;
    margin-top: 10px;
    text-align: end;
    margin: auto;
    margin-top: 20px;
}
.icon
{
    display: flex;
    align-items: center;
    font-size: 22px;
    gap: 10px;
    margin-top: 20px;
}
.about
{
    border: 1px solid grey;
    width: 110px;
    text-align: center;
    padding: 5px;
}
.about2
{
    border: 1px solid grey;
    width: 80px;
    text-align: center;
    padding: 5px;
    margin-left: 85%;
}
.section2
{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
    gap: 300px;
}
.bigp2
{
    margin-top: 20px;
    font-size: 40px;
    width: 420px;
}
.icon2
{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
}
.icon3
{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
    margin-top: 10px;
}
.bigp3
{
    font-size: 25px;
}
.section3
{
    display: flex;
    justify-content: center;
    gap: 300px;
    margin-top: 100px;
}
.div3
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin-top: 200px;
}
.backgrounddiv1
{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
}
.money
{
    font-size: 19px;
    font-weight: 700;
    align-items: start;
}
.money1
{
    font-size: 19px;
    font-weight: 700;
    align-self: end;
}
.num
{
    font-size: 60px;
    font-weight: 700;
    align-items: start;
}
.m
{
    display: flex;
}
.backgroundp1
{
    width: 250px;
    padding: 10px;
    height: 20px;
    background-color: black;
    text-align: center;
    color: white;
    margin-top: 110px;
}
.backgroundp2
{
    width: 250px;
    padding: 10px;
    height: 20px;
    background-color: white;
    text-align: center;
    margin-top: 30px;
    color: black;
}
.backgroundp3
{
    width: 250px;
    padding: 10px;
    height: 20px;
    background-color: black;
    text-align: center;
    color: white;
    margin-top: 35px;
}
.border
{
    border: 1px solid black;
    padding: 30px;
    width: 280px;
    height: 400px;
}
.border1
{
    background-color: black;
    color: white;
    padding: 30px;
    width: 280px;
    height: 400px;
}
@media(max-width: 510px)
{
    .divv
    {
        display: flex;
        justify-content: space-between;
    }
    .div1
    {
        display: none;
    }
    .section1
    {
        display: block;
    }
    .img1
    {
        width: 100%;
    }
    .bigp
    {
        width: 100%;
        font-size: 40px;
    }
    .pwidth
    {
        width: 95%;
    }
    .section1
    {
        flex-direction: column;
    }
    .section2
    {
        flex-direction: column;
    }
    .backgrounddiv1
    {
        flex-direction: column;
        align-items: center;
    }
    .bigp4
    {
       width: 100%;
        font-size: 30px;
        text-align: start;
    }
    .div3
    {
        flex-direction: column;
    }
}