*
{
    margin: 0;
}
.backgroundp
{
    width: 100px;
    padding: 20px;
    height: 20px;
    background-color: black;
    color: white;
    font-size: 22px;
    text-align: center;
}
.p
{
    font-size: 22px;
}
.div1
{
    display: flex;
    gap: 50px;
    align-items: center;
}
header
{
    display: flex;
    justify-content: center;
    gap: 550px;
    margin-top: 30px;
}
.input
{
    padding: 10px;
}
.button
{
    padding: 10px;
    background-color: black;
    color: white;
    width: 130px;
}
.bigp
{
    font-size: 60px;
    width: 600px;
}
.div2
{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
.section1
{
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: end;
    margin-top: 50px;
}
.img
{
    display: none;
}
.pwidth
{
    width: 400px;
    margin-top: 20px;
}
.pwidth1
{
    width: 350px;
    margin-top: 10px;
}
.icon
{
    display: flex;
    align-items: center;
    font-size: 22px;
    gap: 10px;
    margin-top: 20px;
}
.about
{
    border: 1px solid grey;
    width: 110px;
    text-align: center;
    padding: 5px;
}
.section2
{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
    gap: 300px;
}
.bigp2
{
    margin-top: 20px;
    font-size: 40px;
    width: 420px;
}
.icon2
{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
}
.bigp3
{
    font-size: 25px;
}
.section3
{
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 100px;
}
@media(max-width: 510px)
{
    .divv
    {
        display: flex;
        justify-content: space-between;
    }
    .div1
    {
        display: none;
    }
    .section1
    {
        display: block;
    }
    .img1
    {
        width: 100%;
    }
    .bigp
    {
        width: 100%;
        font-size: 40px;
    }
    .pwidth
    {
        width: 95%;
    }
}