*
{
    margin: 0;
}
.backgroundp
{
    width: 100px;
    padding: 20px;
    height: 20px;
    background-color: black;
    color: white;
    font-size: 22px;
    text-align: center;
}
.p
{
    font-size: 22px;
}
.div1
{
    display: flex;
    gap: 50px;
    align-items: center;
}
header
{
    display: flex;
    justify-content: center;
    gap: 550px;
    margin-top: 50px;
}
.input
{
    padding: 10px;
}
.button
{
    padding: 10px;
    background-color: black;
    color: white;
    width: 130px;
}
.bigp
{
    font-size: 60px;
    width: 600px;
}